html{
    background-color: #744d39;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
}
   
h1{
    font-size: 4rem;
}

span{
    font-size: 6rem;
}

button{
    background-color: #ffc400;
    padding: 5px 25px;
	margin: 10px;
    border-radius: 25px;
    border: 1px solid #ffc400;
	font-size: 2rem;
}